/* Apply styles to the root node */
.root {
    -fx-background-color: #5386b6;
    -fx-animation: opacityAnimation 2s infinite alternate;
}

@keyframes opacityAnimation {
    0% {
        -fx-opacity: 1;
    }
    50% {
        -fx-opacity: 0.5;
    }
    100% {
        -fx-opacity: 1;
    }
}


/* Styles for the main navigation button */
.mainpagenavButton {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-background-color: #FFFFFF; /* White background */
    -fx-effect: dropshadow(three-pass-box, rgba(161, 6, 6, 0.6), 5, 0.0, 0, 1); /* Red drop shadow effect */
}

/* Styles for labels */
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto";
    -fx-text-fill: #333333; /* Dark gray text */
    /*-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /* White drop shadow effect */
}


#scenetitle {
    -fx-font-size: 32px;
    -fx-font-family: "Roboto";
    -fx-fill: #818181; /* Light gray fill color */
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2); /* Inner shadow effect */
}

/* Styles for action target */
#actiontarget {
    -fx-fill: FIREBRICK; /* Red fill color */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /* White drop shadow effect */
}
#usernameexists {
    -fx-fill: FIREBRICK; /* Red fill color */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /* White drop shadow effect */
}
#emailexists {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); /* White drop shadow effect */
}

.button {
    -fx-background-color: linear-gradient(#383a3b, #38488e);
    -fx-background-radius: 5;
    -fx-border-color: #38488e;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-padding: 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-background-color: linear-gradient(#38488e, #383a3b);
    -fx-border-color: #38488e;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

